* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #090b10;
  padding: 4rem 1.5rem 2rem;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  min-height: 100vh;
}
